PalletReceive/Web References/DMServices/DMCheckService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SyncServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SyncServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLocationHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocationHistory" nillable="true" type="tns:LocationHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocationHistory" nillable="true" type="tns:ArrayOfLocationHistory" />
  <xs:complexType name="LocationHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeviceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsManual" type="xs:boolean" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PalletNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationHistory" nillable="true" type="tns:LocationHistory" />
  <xs:complexType name="ArrayOfItemForChart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemForChart" nillable="true" type="tns:ItemForChart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemForChart" nillable="true" type="tns:ArrayOfItemForChart" />
  <xs:complexType name="ItemForChart">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoxesOnPallet" type="xs:int" />
      <xs:element minOccurs="0" name="DescGrade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemArticle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineOfOrigin" type="xs:int" />
      <xs:element minOccurs="0" name="SQM" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemForChart" nillable="true" type="tns:ItemForChart" />
  <xs:complexType name="ArrayOfDuplicatePallet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DuplicatePallet" nillable="true" type="tns:DuplicatePallet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDuplicatePallet" nillable="true" type="tns:ArrayOfDuplicatePallet" />
  <xs:complexType name="DuplicatePallet">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ItemArticle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PalletNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordId" type="xs:int" />
      <xs:element minOccurs="0" name="WhichMarpak" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DuplicatePallet" nillable="true" type="tns:DuplicatePallet" />
</xs:schema>